{% extends 'base2.html.twig' %}
{%  block title  %}
    <title>Dashboard - CheckupAdmin </title>
{% endblock %}
{% block testaffiche %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Medecins Tables</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">Medecins</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Table des Medecins</h5>
                            <p>La liste actuelle des medecins <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> </p>

                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">Date Naissance</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">N°de Telephone</th>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Specialite</th>
                                    <th scope="col">Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for m in tabmedecins %}
                                    <tr>
                                        <td scope="row">{{ m.nom }}</td>
                                        <td>{{ m.prenom }}</td>
                                        <td>{{ m.datenaissance |date }}</td>
                                        <td>{{ m.email }}</td>
                                        <td>{{ m.numerotelephone }}</td>
                                        <td>{{ m.specialite }}</td>
                                        <td><img src="{{ asset('/images/saloons/' ~  m.image  ) }}" width="100px"/> </td>


                                        <td>

                                            <a href="{{ path('updatemedecin',{'id':m.id}) }}">Modifier</a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="text-center">{{ knp_pagination_render(tabmedecins) }}</div>
                            <td>
                                <a href="{{ path('Adminaddmedecin')}}">créer un noveau medecin</a>



                            </td>
                            <!-- End Table with stripped rows -->

                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->




{% endblock %}