{% extends 'back/base.html.twig' %}

{% block body %}

    <main id="main" class="main">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des évènements</h5>

                <!-- Default Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Date Début</th>
                        <th scope="col">Date Fin</th>
                        <th scope="col">Responsable</th>
                        <th scope="col">Invité</th>
                        <th scope="col" colspan="2">Gestion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr {% for e in evenements %}>
                        <th scope="row">{{ e.titreeven }}</th>
                        <td>{{ e.datedebut|date('Y-m-d') }}</td>
                        <td>{{ e.datefin|date('Y-m-d') }}</td>
                        <td>{{ e.responsable }}</td>
                        <td>{{ e.invites }}</td>
                        <td><div class="btn-group"> <a href="{{ path('evenement_edit', {'id':e.id}) }}" ><button type="button" class="btn btn-warning">Modifier</button></a></div></td>
                    </tr {% endfor %}>

                    </tbody>
                </table>
                <div id="div_chart"></div>

                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(piechart, 'div_chart') }}
                </script>
                <!-- End Default Table Example -->
            </div>
        </div>
    </main>
{% endblock %}