{% extends 'baserdv.html.twig' %}

{% block title %}Enligne{% endblock %}

{% block body %}
    <h1>Enligne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enligne.id }}</td>
            </tr>
            <tr>
                <th>Emailmed</th>
                <td>{{ enligne.emailmed }}</td>
            </tr>
            <tr>
                <th>Emailpat</th>
                <td>{{ enligne.emailpat }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ enligne.lien }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enligne_index') }}">back to list</a>

    <a href="{{ path('enligne_edit', {'id': enligne.id}) }}">edit</a>

    {{ include('enligne/_delete_form.html.twig') }}
{% endblock %}
