{% extends 'base.html.twig' %}

{% block head %}
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
{%  block title  %}
    <title>Dashboard - checkupAdmin </title>
{% endblock %}
{% endblock %}

{% block sales %}
    <div class="col-xxl-4 col-md-6">
        <div class="card info-card sales-card">


            <div class="card-body">
                <h5 class="card-title">Medecins <span>| Today</span></h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="ps-3">
                        <h6>{{ medecins }}</h6>
                        <span class="text-success small pt-1 fw-bold">{{ percentM|round  }}%</span> <span class="text-muted small pt-2 ps-1">percent</span>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block revenu %}
    <div class="card-body">
        <h5 class="card-title">Patients <span>|Today</span></h5>

        <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fas fa-user-injured"></i>
            </div>
            <div class="ps-3">
                <h6>{{ patient }}</h6>
                <span class="text-success small pt-1 fw-bold">{{ percentP|round }}%</span> <span class="text-muted small pt-2 ps-1">percent</span>

            </div>
        </div>
    </div>

    </div>
    </div>
{% endblock revenu %}
{% block customers %}
    <div class="col-xxl-4 col-xl-12">

        <div class="card info-card customers-card">



            <div class="card-body">
                <h5 class="card-title">Customers <span>| This Year</span></h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                        <h6>{{ customers }}</h6>
                        <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">percent</span>

                    </div>
                </div>

            </div>
        </div>

    </div><!-- End Customers Card -->
{% endblock %}
                 {% block chart %}
                     <div class="col-12">
                         <div class="card">

                             <div class="filter">
                                 <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                 <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                     <li class="dropdown-header text-start">
                                         <h6>Filter</h6>
                                     </li>

                                     <li><a class="dropdown-item" href="#">Today</a></li>
                                     <li><a class="dropdown-item" href="#">This Month</a></li>
                                     <li><a class="dropdown-item" href="#">This Year</a></li>
                                 </ul>
                             </div>

                             <div class="card-body">
                                 <h5 class="card-title">Reports <span>/Today</span></h5>

                                 <!-- Line Chart -->
                                 <div id="reportsChart"></div>

                                 <script>
                                     document.addEventListener("DOMContentLoaded", () => {
                                         new ApexCharts(document.querySelector("#reportsChart"), {
                                             series: [{
                                                 name: 'Sales',
                                                 data: [{{medecins}}, 40, 28, 51, 42, 82, 56],
                                             }, {
                                                 name: 'Revenue',
                                                 data: [{{ patient }}, 32, 45, 32, 34, 52, 41]
                                             }, {
                                                 name: 'Customers',
                                                 data: [{{ customers }}, 11, 32, 18, 9, 24, 11]
                                             }],
                                             chart: {
                                                 height: 350,
                                                 type: 'area',
                                                 toolbar: {
                                                     show: false
                                                 },
                                             },
                                             markers: {
                                                 size: 4
                                             },
                                             colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                             fill: {
                                                 type: "gradient",
                                                 gradient: {
                                                     shadeIntensity: 1,
                                                     opacityFrom: 0.3,
                                                     opacityTo: 0.4,
                                                     stops: [0, 90, 100]
                                                 }
                                             },
                                             dataLabels: {
                                                 enabled: false
                                             },
                                             stroke: {
                                                 curve: 'smooth',
                                                 width: 2
                                             },
                                             xaxis: {
                                                 type: 'datetime',
                                                 categories: ["{{ date }}","2021-11-28T01:30:00.000Z", "2021-11-28T02:30:00.000Z", "2021-11-28T03:30:00.000Z", "2021-11-28T04:30:00.000Z", "2021-11-28T05:30:00.000Z", "2021-11-28T06:30:00.000Z"]
                                             },
                                             tooltip: {
                                                 x: {
                                                     format: 'dd/MM/yy HH:mm'
                                                 },
                                             }
                                         }).render();
                                     });
                                 </script>
                                 <!-- End Line Chart -->

                             </div>

                         </div>
                     </div><!-- End Reports -->
                 {% endblock %}