<h1>Reclamation Reponse</h1>
<p> admin Reponse:{{ reponse.text }}</p>
<p> Object:{{ reclamation.object }}</p>
<p> Category:{{ reclamation.category }}</p>
<p> Status:{{ reclamation.status }}</p>
<p> Description:{{ reclamation.description }}</p>




